[FEATURE] An RFC 3986, RFC 3987, and RFC 6570 (level 4) compliant URI string.

## Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
An RFC 3986, RFC 3987, and RFC 6570 (level 4) compliant URI string.
## Describe the solution you'd like
A clear and concise description of what you want to happen.

## Describe alternatives you've considered
A clear and concise description of any alternative solutions or features you've considered.

## Additional context
Add any other context or screenshots about the feature request here. 

@MPC-Agent-01     @FuzzysTodd/The-Nexus-Protocol-Token-DOA
***@***.***>

On Thu, Sep 3, 2026 at 11:47 AM Todd Anthony Stephens <
***@***.***> wrote:

> *FuzzysTodd* created an issue (OpenZeppelin/ui-builder#421)
> <https://github.com/OpenZeppelin/ui-builder/issues/421>
> Is your feature request related to a problem? Please describe.
>
> A clear and concise description of what the problem is. Ex. I'm always
> frustrated when [...]
> An RFC 3986, RFC 3987, and RFC 6570 (level 4) compliant URI string.
> Describe the solution you'd like
>
> A clear and concise description of what you want to happen.
> Describe alternatives you've considered
>
> A clear and concise description of any alternative solutions or features
> you've considered.
> Additional context
>
> Add any other context or screenshots about the feature request here.
>
> —
> Reply to this email directly, view it on GitHub
> <https://github.com/OpenZeppelin/ui-builder/issues/421?email_source=notifications&email_token=BFSEEBRK7SZEKYS7YLV4XQ35NGG7NA5CNFSL4Z3JMQ5C6L3HNF2C22DVMIXUS43TOVSS6NJTGM4DKNZYGA3DJJTSMVQXG33OVV4W65LSL5QWG5DJOZUXI6NFMV3GK3TUVRTG633UMVZF6Y3MNFRWW>,
> or unsubscribe
> <https://github.com/notifications/unsubscribe-auth/BFSEEBTBYF33QJMGLNNNUPD5NGG7NAVCNFSNUABFKJSXA33TNF2G64TZHM4TINBWGE2DMOJSHNEXG43VMU5TKMZTHA2TOOBQGY2KC5QC>
> .
> You are receiving this because you are subscribed to this thread.Message
> ID: ***@***.***>
>
